name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: OTP ${{matrix.otp}}
    runs-on: ubuntu-latest
    container:
      image: erlang:${{ matrix.otp }}
    strategy:
      fail-fast: false
      matrix:
        otp:
          - 28
          - 27
          - 26
          - 25
          - 24
          - 23
          - 22
          - 21
          - 20
    steps:
    - uses: actions/checkout@v2
    - name: Compile
      run: rebar3 compile
    - name: Run tests
      run: rebar3 do eunit
